/* tag selectors */

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
a,
li {
  color: rgb(105, 105, 105);
}

code { font-family: 'Courier New', sans-serif; }

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(19, 123, 228);
}

h3 {
  padding-right: 4rem;
  margin-block-start: 0.75em;
  font-weight: 700;
  text-align: right;
  font-size: 1.4rem;
}

footer h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
}
body {
  min-height:100vh;
  margin: 0 auto;
  width: 60%;
  background: rgb(131,58,180);
  background: linear-gradient(180deg, rgba(131,58,180,0.29735644257703087) 0%, rgba(252,176,69,0.33657212885154064) 53%, rgba(29,253,224,0.16010154061624648) 100%);
}

header {
  margin-bottom: 1rem;
  border-bottom: 2px solid rgb(19, 123, 228);
}

header .flex-box-horiz-1 {
  position: relative;
}

footer {
  padding: 3rem 0;
  margin-top: 2rem;
  border-top: 2px solid rgb(19, 123, 228);
}
header img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  max-width: 180px;
  width: 90%;
}

img {
  /* padding: auto 10% auto; */
  display: block;
  box-sizing: border-box;
  width: 100%;
}

ul>li { padding-bottom: 0.8rem; }

footer .flex-box-horiz-3 h3 {
  margin: 0;
  padding-right: 0;
  font-weight: 300;
  text-align: left;
}

footer .flex-box-horiz-1>a,
footer .flex-box-horiz-3>a {
  padding-right: 4rem;
  display: block;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: right;
}

a>img { padding: 0; }

/* class selectors */

.flex-container-horiz {
  display: flex;
  flex-wrap: wrap;
}

.flex-container-vert {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.flex-box-horiz-1 { flex: 1; }

.flex-box-horiz-2 { flex: 3; }

.flex-box-horiz-3 { flex: 2; }

.contact-box {
  margin-bottom: 3rem;
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.mail {
  padding-right: 1rem;
  border-right: 1px solid rgb(197, 197, 197);
}

.phone { padding-left: 1rem; }

.contact-box h2 {
  margin-top: 0;
  font-size: 1.2rem;
}

.flex-box-table { flex: 1; }

.flex-box-table>p { font-weight: 700; }