/* tag selectors */
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
a,
li {
  color: rgb(105, 105, 105);
}

h1 {
    font-size: 2.5rem;
  font-weight: 700;
  color: rgb(19, 123, 228);
}

h3 {
    font-weight: 700;
    text-align: right;
    padding-right: 4rem;
    margin-block-start: 0.75em;
}

body {
  width: 60%;
  margin: 0 auto;
}

header {
    border-bottom: 1px solid rgb(197, 197, 197);
}

img {
display: block;
box-sizing: border-box;
  padding: 3rem;
  width: 100%;
}

section {
    margin-top: 1rem;
}
ul > li {
    padding-bottom: 0.8rem;
}
/* class selectors */
.flex-container-horiz {
  display: flex;
  flex-wrap: wrap;
}

.flex-container-vert {
    height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.contact-box {
  display: flex;
  margin-bottom: 3rem;
  /* justify-content: center; */
}

.mail {
  border-right: 1px solid rgb(197, 197, 197);
  padding-right: 1rem;
}

.phone {
  padding-left: 1rem;
}

.flex-box-horiz-1 {
    flex: 1;
}

.flex-box-horiz-2 {
    flex: 3;
}

.contact-box h2 {
    font-size: 1.2rem;
    margin-top: 0;
}